{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{team.id}}" method="post">
    <div class="row">
        <div class="col">
            <label for="Team">Team Name</label>
            <input id="Team" type="text" class="form-control" placeholder="Team Name" name="Team" value="{{team.Team}}">
        </div>
        <div class="col">
            <label for="Payroll_millions">Payroll (millions)</label>
            <input id="Payroll_millions" type="text" class="form-control" placeholder="Payroll_millions"
                   name="Payroll_millions" value="{{team.Payroll_millions}}">
        </div>
        <div class="col">
            <label for="Wins">Wins (2012)</label>
            <input id="Wins" type="text" class="form-control" placeholder="Wins (2012)" name="Wins" value="{{team.Wins}}">
        </div>
    </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>

</form>
{% endblock %}