{% extends "layout.html" %}
{% block content %}
<form action="/teams/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="Team">Team Name</label>
            <input id="Team" type="text" class="form-control" placeholder="Team" name="Team">
        </div>
        <div class="col">
            <label for="Payroll_millions">Payroll (Millions)</label>
            <input id="Payroll_millions" t ype="text" class="form-control" placeholder="Payroll (Millions)"
                   name="Payroll_millions">
        </div>
        <div class="col">
            <label for="Wins">Wins (2012)</label>
            <input id="Wins" type="text" class="form-control" placeholder="Wins (2012)" name="Wins">
        </div>
    </div>
    </div>
    <button type="submit" class="btn btn-success">Success</button>

</form>

{% endblock %}